<!DOCTYPE html>
<html>
	<head>
		<title>Apartments</title>
	</head>
	<body>

	<a href="/apartments/new">New Apartment</a>

	<#if !currentUser??>
		<a href="/login">Login</a>
		<a href="/signup">Signup</a>
	<#else>
		<h3>Welcome ${currentUser.firstName} (${currentUser.email})</h3>
		<a href="/logout">Logout</a>
	</#if>

	<h1>Apartments</h1>	
	<#list apartments>	
		<ul>
		<#items as apartment>
			<li><a href="/apartments/${apartment.id}">${apartment.address}</a></li>
		</#items>
		</ul>
		<#else>
			<p>No apartments to show</p>
	</#list>
	</body>
</html>